.realizacoes {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 25px;
    background-color: rgb(46, 151, 90);
}

.subtitulo-realizacoes{
    font-size: 20px;
    color: #000000;
}