.footer{
    background-color: #ffffff;
}

.nome{
    color: #000000;
    font-size: 30px;
    margin-top: 200px;
    margin-left: 15px;
}

.materia{
    color: #000000;
    font-size: 20px;
    margin-left: 15px;
}

.rm{
    color: #000000;
    font-size: 15px;
    margin-left: 15px;
}




.footer-grid-item :nth-child(2){
    padding-top: 10px;
}

.footer-grid-item :nth-child(3){
    padding-bottom: 10px;
}

