.capa-img{
    height: 100vh;
    background-image: url(../../../Ferramentas/imagens/Capa8.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;
}

.capa-conteudo{
    position: absolute;
    top: 40%;
    margin-left: 50px;
    
}

.capa-conteudo p{
    font-size: 30px;
}

